<div class="picture" routerLink='/home/detail-info' [queryParams]="{ pictureId: picture.id }">
    <img class="picture__image" [src]="imageSrc" alt="picture" (error)="onImageSrcError()">
    <div class="picture__description">
        <span class="picture__description__title"> {{ picture.title }}</span>
        <span class="picture__description__author-title"> {{ picture.artist_title }}</span>
        <span class="picture__description__public" *ngIf="picture.is_public_domain"> Public </span>
        <span class="picture__description__public" *ngIf="!picture.is_public_domain"> Private </span>
    </div>
    <app-add-favorite class="favorite" [pictureInfo]="picture" (click)="$event.stopPropagation()"></app-add-favorite>
</div>