<div class="content-wrapper">
    <div class="content-wrapper__footer-bar">
        <div class="content-wrapper__footer-bar__left">
            <img class="content-wrapper__footer-bar__left__image" src="../../../assets/museum.png">
            <span class="content-wrapper__footer-bar__left__name">Museum of <span class="content-wrapper__footer-bar__left__name__art">Art</span> </span> 
        </div>

        <img class="content-wrapper__footer-bar__right-image" src="../../../assets/logo.png">
    </div>
</div>
