.search-item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid white;
    background-color: #f0f0f0;
    gap: 1em;

    &__image {
        margin-left: 1em;
    }
}