<div class="search">
    <div class="search__string">
        <input
        class="search__input"
        type="text"
        [(ngModel)]="inputValue" 
        (input)="onSearch()"
        placeholder="Search Art, Artist, Work...">

        <img class="search__lupe" alt="lupe">
        <app-filter-menu (optionEvent)="getFilterOption($event)"></app-filter-menu>

        <div class="search__filter" *ngIf="searchFilterOption"> 
            <span class="search__filter__name"> {{ searchFilterOption }} </span>
            <button class="search__filter__remove" (click)="removeFilterOption()"></button>
        </div>

    </div>
    <div class="search__error" *ngIf="searchError"> {{ searchError }} </div>

    <div class="search__result" *ngIf="inputResult && inputValue.length > 2">
        <ng-container *ngFor="let item of inputResult">
            <div class="search__result__item">
                <app-search-item [itemInfo]="item"></app-search-item>
            </div>
        </ng-container>
    </div>
</div>
