<div class="picture-page" routerLink="/home/detail-info" [queryParams]="{ pictureId: pictureInfo().id }">
  <img class="picture-page__image" [src]="imageSrc" alt="picture" (error)="onImageSrcError()" />
  <div class="picture-page__description">
    <div class="picture-page__description__text">
      <span class="picture-page__description__text__title"> {{ pictureInfo().title }}</span>
      <span class="picture-page__description__text__author-title"> {{ pictureInfo().artist_title }}</span>
      <span class="picture-page__description__text__public" *ngIf="pictureInfo().is_public_domain">
        Public
      </span>
      <span class="picture-page__description__text__public" *ngIf="!pictureInfo().is_public_domain">
        Private
      </span>
    </div>
    <app-add-favorite
      class="favorite"
      [pictureInfo]="pictureInfo()"
      (click)="$event.stopPropagation()"></app-add-favorite>
  </div>
</div>
